body{
    font-family: 'Kaisei Tokumin', serif;
}

header{
    background-color: gray;
    height: 100px;
    padding-bottom: 50px;
}

.img1{
    position: absolute;
    left: -130px;
    height: 190px;
    top: -30px;
    margin-right: 20px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 80px;
    right: 0px;
    margin-left: 10px
}

nav li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
    text-decoration:none;
    text-align: center;
}

li a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(41, 38, 38);
}

li a:hover{
    font-size: 8px;
    color: #8B3A36
}

main{
    background-color: #8B3A36;
}

#img2{
    width: 100%;
}

#cabeçalho-produtos{
    height: 100px;
    text-transform: uppercase;
    background:grey;
    padding: 40px 40px 10px 50px;
    font-size: 45px;
}

#produtos{
    background: #5f2522;
}

.img3-vinhos{
    background: rgb(230, 219, 219);
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: o 1.5%;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.img3-vinhos:hover{
    background: rgb(158, 109, 109);
}

.teste{
    width: 50px;
    height: 130px;
}

/*titulo sobre*/

#sobre {
    font-size: 40px;
    padding: 40px 40px 50px 50px;
    text-transform: uppercase;
    background-color: gray;
}

#banner {
    background-image: url(vinicola/fundo\ pagina\ sobre\ nos.jpg);
    width: 100%;
}

#conteudo-sobre-nos-retangulo{
    font-size: 10px;
    width: 750px;
    height: 600px;
    background-color: brown;
    position: absolute;
    padding: 20px 20px 20px 20px;
    margin-top: 200px;
    margin-left: 35px ;
}

/*paragrafos sobre nós*/

.conteudo-sobre {
    width: 42%;
    font-size: 20px;
    padding: 40px 40px 20px 20px;
    text-align: justify;
}

/*Palavras destacadas "sobre nós"*/

em{
   font-weight: bold;
   font-style: italic;
}

#lista-sobre{
    font-size: 30px;
}

/*conteudo-promoções*/

#página-promoções{
    background-image: linear-gradient(gray, white,brown);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.título-promoções{
    color: black;
    font-size: 40px;
    padding: 40px 40px 50px 50px;
    text-transform: uppercase;
    background-color: gray;
}

.imagem-promoção {
    text-align: center;
    width: 75px;
    height: 100px;
    padding: 30px 30px 30px 30px;  
}

.Lista-promoções{
    text-align: center;
}

.Promoções li{
	display: inline-block;
	text-align: center;
	width: 330px;
    height: 560px;
    margin: 65px 2% 65px 50px;
	vertical-align: top;
    border: 10px;
    border-style: double;
    border-color:#000000 ;
	box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    background-color:#8B3A36 ;
	cursor: pointer;
}

.Título-promoção{
    text-align: center;
    font-weight: bold;
    padding: 35px;
    vertical-align: text-top;
    font-size: 25px;
}

.descrição-promoção{
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

.imagem-promoção{
    text-align: center;
    width: 185px;
    height: 185px;
    padding: 30px 30px 30px 30px;
}

.preço-promoção{
    text-align: center;
    padding-top: 15px;
}

.Lista-promoções li:hover {
	border-color: #5c0606;
}

.Lista-promoções li:hover h2,p {
	font-size: 28px;
}

/* conteudo-promoções*/

/*----Todo conteudo do footer/rodape----*/

/*----Rodape Superior----*/

.rodape1{
    background-image: url("vinicola/fundo pagina contatos.jpg");
    background-size: cover;
    color: white;
}

.rodape-quadrado1{
    background: #392620;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
    font-size: 22px;
    font-weight: bold;
    padding: 40px;
    text-align: left;
    width: 50%;
    height: 300px;
}

.quadradoTitulo{
    font-size: 40px;
    padding-bottom: 20px;
}

.rodape-lista{
    padding-bottom: 20px;
    box-sizing: border-box;
}

.iconeImagem{
    width: 40px;
    height: 40px;
    padding-right: 40px;
}

.rodapeQuadrado2{
    background-color: #392620;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    margin-left: 50%;
    margin-top: 100px;
}

.quadrado2Descricao{
    margin-left: 10px;
}

/*----Rodape inferior----*/

.rodape2{
    background-color: black;
    text-align: center;
    width: 100%;
}

.logoContato{
    
    width: 10em;
}

.copyright{
    color: white;
    font-size: 15px;
    padding-bottom: 50px;
}

@media screen and (max-width: 480px){
    body{
    width: auto;
    }
    img1{
        width: auto;
    }

}