/*CABEÇAlhO */
header{
    background-color: gray;
    height: 100px;
    padding: 50px; /*  espaçamento interno  da imagem */
    padding-right: 150px;
    padding-bottom: 50px;
   
}
.img1{
    height: 190px;
    
    
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
     right: 0px;
     margin-left: 160px;
}
nav li {
  display: inline;
    padding-left: 30px;
    font-size: 30px;
}
nav li:hover{
    font-size: 38px;
    color: #8B3A36
}
